//color variables are in foundation/global-variables

body.dark {
  background-color: $background-color-dark;
  color: $content-color-dark;
  * {
    border-color: $content-color-dark-emphasis;
  }
}

body.light {
  background-color: $background-color-light;
  color: $content-color-light;
  * {
    border-color: $content-color-light-emphasis;
  }
}

.node {
  body.light & {
    background-color: $node-background-color-light;
  }
  body.dark & {
    background-color: $node-background-color-dark;
  }
}


.node .control {
  body.light & {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark & {
    background-color: rgba(255, 255, 255, 0.2);
  }
}


// Ok, let's just go ahead and turn on dark for now since there's not a toggle switch-
body {
  @extend body.light;
}
