.dir-container {
  padding: $unit;
  box-sizing: border-box;
  border-radius: $unit * 2;
  margin-bottom: $unit;
  border: 2px solid;
}

.node {
  display: flex;
  div {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    .control {
      flex: 1;
      display: flex;
      input {
        flex: 1;
      }
    }
  }
}
