.dir-container {
  padding: $unit;
  box-sizing: border-box;
  border-radius: $unit * 2;
  margin-bottom: $unit;
  border: 2px solid;
  span {
    display: inline-block;
  }
}

.node {
  display: flex;
  margin: $unit;
  border: 1px solid $content-color-dark;
  padding: $unit /2;
  > div {
    width: 100%;
    .control {
      display: flex;
      input {
        flex: 1;
      }
    }
    @include media-query($on-palm) {
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      grid-template-rows: 50% 50%;
    }
  }
  .dir-name {
  }
  .full-path {
    grid-column-start: 3;
    text-align: right;
  }
  .description {
    grid-column-start: 3;
    text-align: right;
  }

}
