.dir-container {
  padding: $unit;
  box-sizing: border-box;
  border-radius: $unit * 2;
  margin-bottom: $unit;
  border: 2px solid;
  font-size: 120%;
  > div {
      display: block;
    @include media-query($on-palm) {
      font-size: 80%;
      display: grid;
      grid-template-areas: "header header"
    }
  }
  span {
    display: inline-block;
  }
}

.node {
  display: flex;
  margin: $unit;
  background-color: rgba(0,0,0,0.5);
  padding: $unit;
  border-radius: $unit;

  > div {
    width: 100%;
    .control {
      display: flex;
      justify-content: center;
      input {
        flex: 1;
      }
    }
    @include media-query($on-palm) {
      display: grid;
      grid-template-areas: "name . path "
                          " . . description"
                          "control control control"

    }
  }
  .dir-name {
    grid-area: name;
  }
  .full-path {
    grid-column-start: 3;
    text-align: right;
    grid-area: path;
  }
  .description {
    grid-column-start: 3;
    text-align: right;
    grid-area: description;
  }
  .control {
    grid-area: control;
    display: flex;
  }
}
