
.dir-name {
  font-size: 140%;
  font-weight: bold;
}

.control-name {
  font-size: 120%;
  display: block;
  font-weight: bold;
}

.listen-label {
  position: relative;
  margin-top: 4px;
  float: left;
}

.listen-button {
  padding-left: 10px;
  cursor: pointer;
}

.full-path {
  font-size: 80%;
  padding-left: 10px;
  color: #666;
  display: block;
}

.description {
  font-size: 80%;
  padding-left: 10px;
  color: #aaa;
  display: block;
}

.curr-val {
  color: #888;
  font-size: 80%;
  padding-bottom: 8px;
}

.range-val {
  color: #888;
  font-size: 80%;
  padding-bottom: 8px;
}

img.toggle-hide {
  padding: 4px 2px;
}

img.toggle-show {
  padding: 4px 2px;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 140%;
  }
}
