@font-face {
    font-family: 'bitstream_vera_sansroman';
    src: url('fonts/Vera-webfont.woff') format('woff'),
         url('fonts/Vera.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: $base-font-family;
}
