@font-face {
    font-family: 'bitstream_vera_sansroman';
    src: url('fonts/Vera-webfont.woff') format('woff'),
         url('fonts/Vera.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('/fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('/fonts/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: $base-font-family;
}

input[type="text"] {
  font-family: $monospace-font-family;
}
