.node {
  .control-name, .full-path, .description {
    font-size: 12px;
    @include media-query($on-palm) {
      font-size: 16px;
    }
  }
  .control {
    padding: $unit;
    box-sizing: border-box;
    border-radius: $vv-base-border-radius;
    margin: 4px;
    @include media-query($on-palm) {
      margin: $unit * 2;
    }
    box-shadow: 0px 6px 0px 0px rgba(70,75,117,0.7);
    color: $control-data-text-color;
    input[type="text"] {
      font-size: 20px;
      line-height: 26px;
      padding: 5px;
      box-sizing: border-box;
    }
    .curr-range-val {
      font-size: 10px;
      align-self: center;
    }
    span.curr-val {
      margin-left: $unit;
    }
  }
 .kind_char {
    flex: none;
    margin-left: auto;
    margin-right: auto;
  }

  .kind_dropdown{
    flex: none;
  }

  .kind_slider {
    flex: 1;
    min-width: 200px;
  }
  .rangeSlider__horizontal {
    flex: 1;
    flex-grow: 4;
    align-self: center;
    margin-right: 20px;
  }
  select {
    font-size: 20px;
  }
  .kind_color {
    flex: none;

    margin: 0;
    margin-left: auto;
    margin-right: auto;
    .layout_default.picker_wrapper {
      width: 18em;
      @include media-query($on-palm) {
        width: 15em;
        .picker_sample {
          order: 0;
        }
      }
      .picker_done {
        display: none;
      }
    }

  }
}
