.node {
  .control {
    padding: $unit;
    box-sizing: border-box;
    border-radius: $vv-base-border-radius;
    margin: $unit * 2;
  }
  .type_r {
    //this is the color picker control
    max-width: 90px;
  }
  // .type_ {
  //   max-width: 90px;
  // }
  .type_F {
    //this is buttons?
    max-width: 200px;
  }
}
