<html>
  <head>
    <title>OSC Tool</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="js/code.js"></script>
    <script>
document.addEventListener("DOMContentLoaded", function(event) {
  var data = <%- jsonData %>;
  buildFromQueryResult(data);
});
    </script>
  </head>
  <body>
    <div id="mainContents"></div>
  </body>
</html>
