input[type=button], .button {
  -webkit-appearance: none;
  display: inline-block;
  padding: 10px;
  background-color: #666;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ececec;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1em; }
  input[type=button]:active, .button:active {
    background-color: #4d4d4d; }
  body.light input[type=button], body.light .button {
    background-color: #00a896; }
    body.light input[type=button]:active, body.light .button:active {
      background-color: #00a896; }
  body.dark input[type=button], body input[type=button], body.dark .button, body .button {
    background-color: #d29d00; }
    body.dark input[type=button]:active, body input[type=button]:active, body.dark .button:active, body .button:active {
      background-color: #00a896; }

@font-face {
  font-family: 'bitstream_vera_sansroman';
  src: url("fonts/Vera-webfont.woff") format("woff"), url("fonts/Vera.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "bitstream_vera_sansroman", Arial, sans-serif; }

.dir-container {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 2px solid; }

.node {
  display: flex; }
  .node div {
    display: flex;
    flex-wrap: wrap;
    flex: 1; }
    .node div .control {
      flex: 1;
      display: flex; }
      .node div .control input {
        flex: 1; }

.node .control {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 20px; }
.node .type_r {
  max-width: 90px; }
.node .type_ {
  max-width: 90px; }

body.dark, body {
  background-color: #0c1f2f;
  color: #839496; }
  body.dark *, body * {
    border-color: #93a1a1; }

body.light {
  background-color: #fffaf0;
  color: #657b83; }
  body.light * {
    border-color: #586e75; }

body.light .node .control {
  background-color: rgba(0, 0, 0, 0.3); }
body.dark .node .control, body .node .control {
  background-color: rgba(255, 255, 255, 0.3); }

.dir-name {
  font-size: 140%;
  font-weight: bold; }

.control-name {
  font-size: 120%;
  display: block;
  font-weight: bold; }

.listen-label {
  position: relative;
  margin-top: 4px;
  float: left; }

.listen-button {
  padding-left: 10px;
  cursor: pointer; }

.full-path {
  font-size: 80%;
  padding-left: 10px;
  color: #666;
  display: block; }

.description {
  font-size: 80%;
  padding-left: 10px;
  color: #aaa;
  display: block; }

.curr-val {
  color: #888;
  font-size: 80%;
  padding-bottom: 8px; }

.range-val {
  color: #888;
  font-size: 80%;
  padding-bottom: 8px; }

#colorPicker {
  position: absolute;
  display: none;
  width: 200px;
  background-color: #ccc;
  padding: 8px; }

#picker-wrapper {
  position: relative;
  float: left;
  width: 160px; }

#slider-wrapper {
  position: relative;
  float: left;
  width: 20px;
  margin-left: 12px; }

.error {
  color: red;
  font-weight: bold; }

#colorPicker-clear {
  clear: both; }

.color-control {
  width: 30px;
  height: 20px;
  margin: 3px;
  border: solid 3px #ccc; }

img.toggle-hide {
  padding: 4px 2px; }

img.toggle-show {
  padding: 4px 2px; }

@media screen and (max-width: 500px) {
  body {
    font-size: 140%; } }
